<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <environment names="Development">
        <!-- Development -->
        <link rel="stylesheet" href="~/css/infrastructure.css" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
    </environment>
</head>
<body>
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/Infrastructure.js" asp-append-version="true"></script>
        <script src="~/lib/sass-bootstrap/dist/js/bootstrap.min.js"></script>
    </environment>
    <environment names="Staging,Production">
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>